In [5]:
import sys
reload(sys)  # Reload does the trick!
sys.setdefaultencoding('UTF8')

In [4]:
#Create table of countries and their ISO equivalents
import pandas as pd 
url = "https://www.uktradeinfo.com/CodesAndGuides/Documents/Country_alpha.xls"
df = pd.read_excel(url)
df

,Country Name,Alpha Code,Sequence Code,Comments
0,Afghanistan,AF,660,NaN
1,Albania,AL,70,NaN
2,Algeria,DZ,208,NaN
3,American Samoa,AS,830,NaN
4,Andorra,AD,43,NaN
5,Angola,AO,330,Including Cabinda
6,Anguilla,AI,446,NaN
7,Antarctica,AQ,891,Territory south of 60 south latitude; not incl...
8,Antigua and Barbuda,AG,459,NaN
9,Argentina,AR,528,NaN
10,Armenia,AM,77,NaN
11,Aruba,AW,474,NaN
12,Australia,AU,800,NaN
13,Austria,AT,38,Excluding the territories of Jungholz and Mitt...
14,Azerbaijan,AZ,78,NaN
15,Bahamas,BS,453,NaN
16,Bahrain,BH,640,NaN
17,Bangladesh,BD,666,NaN
18,Barbados,BB,469,NaN
19,Belarus,BY,73,Often referred to as Belorussia
20,Belgium,BE,17,NaN
21,Belize,BZ,421,NaN
22,Benin,BJ,284,NaN
23,Bermuda,BM,413,NaN
24,Bhutan,BT,675,NaN
25,Bolivia,BO,516,"Also referred to as Bolivia, Plurinational Sta..."
26,"Bonaire, Sint Eustatius and Saba",BQ,475,NaN
27,Bosnia-Herzegovina,BA,93,NaN
28,Botswana,BW,391,NaN
29,Bouvet Island,BV,892,NaN
...,...,...,...,...
232,Thailand,TH,680,NaN
233,Timor-Leste,TL,699,NaN
234,Togo,TG,280,NaN
235,Tonga,TO,817,NaN
236,Trinidad and Tobago,TT,472,NaN
237,Tunisia,TN,212,NaN
238,Turkey,TR,52,NaN
239,Turkmenistan,TM,80,NaN
240,Turks and Caicos Islands,TC,454,NaN
241,Tuvalu,TV,807,NaN
242,Uganda,UG,350,NaN
243,Ukraine,UA,72,NaN
244,United Arab Emirates,AE,647,"Abu Dhabi, Dubai, Sharjah, Ajman, Umm al Qaiwa..."
245,United Kingdom,GB,6,"Great Britain, Northern Ireland, British Chann..."
246,United States,US,400,Including Puerto Rico
247,United States Minor outlying islands,UM,832,"Including Baker Island, Howland Island, Jarvis..."
248,United States Virgin Islands,VI,457,"See Virgin Islands, United States"
249,Uruguay,UY,524,NaN
250,Uzbekistan,UZ,81,NaN
251,Vanuatu,VU,816,NaN
252,Vatican City State,VA,45,See Holy See
253,"Venezuela, Bolivarian Republic of",VE,484,Often referred to as Venezuela
254,Vietnam,VN,690,NaN
255,"Virgin Islands, British",VG,468,NaN
256,"Virgin Islands, United States",VI,457,NaN
257,Wallis and Futuna,WF,811,Including Alofi Island
258,Western Sahara,EH,206,NaN
259,Yemen,YE,653,Formerly North Yemen and South Yemen
260,Zambia,ZM,378,NaN
261,Zimbabwe,ZW,382,NaN

In [2]:
url = "http://blog.plsoucy.com/wp-content/uploads/2012/04/countries-20140629.csv"

df_iso = pd.read_csv(url)

In [3]:
df_iso

UnicodeDecodeError: 'ascii' codec can't decode byte 0xef in position 800: ordinal not in range(128)