In [4]:
import pandas as pd
import codecs

In [5]:
with codecs.open("SIAI111504", encoding="windows-1252") as fh:
    lines = fh.readlines()
    header_record = lines[0]
    middle_records =  lines[1:-1]
    tail_record = lines[-1]

In [301]:
#Text file is split - first line is a header records (not column names)
#Middle records are the data 
#Final record is also different

with open("SMKI191504") as fh:
    lines = fh.readlines()
    header_record = lines[0]
    middle_records =  lines[1:-1]
    tail_record = lines[-1]

In [302]:
def get_fields_df(df, column_name = "Item Name"):
    df = df[~df[column_name].str.contains("DELIMITER")]
    df = df[["From","To",column_name]]
    return df

In [305]:
#The specification of the header record from https://www.uktradeinfo.com/Statistics/Documents/Tech_Spec_SMKE19.DOC
header_record_specs = pd.read_csv("pycharm/specs/import_header_record_specs.csv")
header_record_specs = get_fields_df(header_record_specs)

In [306]:
header_record
header_record_dict = {}
for row in header_record_specs.iterrows():
    r = row[1]
    key = r["Item Name"]
    value = header_record[r["From"]-1:r["To"]].strip()
    header_record_dict[key] = value

In [307]:
header_record_df = pd.DataFrame([header_record_dict])

In [310]:
header_record_specs
header_record_specs["col_name"] = header_record_specs["Item Name"].str.lower()
header_record_specs["length"] = header_record_specs["To"] - header_record_specs["From"] + 1
header_record_specs[["col_name","length"]].to_clipboard()
header_record_specs

    From  To        Item Name         col_name  length
0      1   9      MAF-COMCODE      maf-comcode       9
2     11  15         MAF-SITC         maf-sitc       5
4     17  19  MAF-RECORD-TYPE  maf-record-type       3
6     21  42    MAF-FILE-NAME    maf-file-name      22
8     44  52  MAF-MONTH-ALPHA  maf-month-alpha       9
10    54  57         MAF-YEAR         maf-year       4
12    59  76        MAF-SUITE        maf-suite      18

In [127]:
#Using the specification of the tail record from https://www.uktradeinfo.com/Statistics/Documents/Tech_Spec_SMKE19.DOC
tail_record_specs = pd.read_csv("import_tail_record_specs.csv")
tail_record_specs = get_fields_df(tail_record_specs)

In [128]:
tail_record
tail_record_dict = {}
for row in tail_record_specs.iterrows():
    r = row[1]
    key = r["Item Name"]
    value = tail_record[r["From"]-1:r["To"]].strip()
    tail_record_dict[key] = value

In [130]:
tail_record_df = pd.DataFrame([tail_record_dict])
tail_record_df

,DUMMY-COMCODE,MAF-AMENDMENT-VALUE-TOTAL,MAF-MONTHS-VALUE-TOTAL,MAF-RECORD-0-COUNT,MAF-RECORD-1-COUNT,MAF-RECORD-2-COUNT,MAF-RECORD-3-COUNT
0,999999999,+00000000355503347,+00000017197566212,0000000204081,0000000000000,0000000000080,0000000000582

In [75]:
middle_record_specs = pd.read_csv("import_middle_record_specs.csv")
middle_record_specs = get_fields_df(middle_record_specs)

In [140]:
middle_record_specs.to_dict(orient="records")

[{'From': 1L,
  'Item Name': 'MAF-COMCODE',
  'To': 9L,
  'col_name': 'maf-comcode',
  'length': 9L},
 {'From': 11L,
  'Item Name': 'MAF-SITC',
  'To': 15L,
  'col_name': 'maf-sitc',
  'length': 5L},
 {'From': 17L,
  'Item Name': 'MAF-RECORD-TYPE',
  'To': 19L,
  'col_name': 'maf-record-type',
  'length': 3L},
 {'From': 20L,
  'Item Name': 'MAF-ITEM-FIELDS',
  'To': 143L,
  'col_name': 'maf-item-fields',
  'length': 124L},
 {'From': 21L,
  'Item Name': 'MAF-COD-SEQUENCE',
  'To': 23L,
  'col_name': 'maf-cod-sequence',
  'length': 3L},
 {'From': 25L,
  'Item Name': 'MAF-COD-ALPHA',
  'To': 26L,
  'col_name': 'maf-cod-alpha',
  'length': 2L},
 {'From': 28L,
  'Item Name': 'MAF-COO-SEQUENCE',
  'To': 30L,
  'col_name': 'maf-coo-sequence',
  'length': 3L},
 {'From': 32L,
  'Item Name': 'MAF-COO-ALPHA',
  'To': 33L,
  'col_name': 'maf-coo-alpha',
  'length': 2L},
 {'From': 35L,
  'Item Name': 'MAF-ACCOUNT-MM',
  'To': 36L,
  'col_name': 'maf-account-mm',
  'length': 2L},
 {'From': 37L,
  'Item Name': 'MAF-DATE-DELIMITER',
  'To': 37L,
  'col_name': 'maf-date-delimiter',
  'length': 1L},
 {'From': 38L,
  'Item Name': 'MAF-ACCOUNT-CCYY',
  'To': 41L,
  'col_name': 'maf-account-ccyy',
  'length': 4L},
 {'From': 43L,
  'Item Name': 'MAF-PORT-SEQUENCE',
  'To': 45L,
  'col_name': 'maf-port-sequence',
  'length': 3L},
 {'From': 47L,
  'Item Name': 'MAF-PORT-ALPHA',
  'To': 49L,
  'col_name': 'maf-port-alpha',
  'length': 3L},
 {'From': 51L,
  'Item Name': 'MAF-FLAG-SEQUENCE',
  'To': 53L,
  'col_name': 'maf-flag-sequence',
  'length': 3L},
 {'From': 55L,
  'Item Name': 'MAF-FLAG-ALPHA',
  'To': 56L,
  'col_name': 'maf-flag-alpha',
  'length': 2L},
 {'From': 58L,
  'Item Name': 'MAF-COUNTRY-SEQUENCE-COO-IMP',
  'To': 60L,
  'col_name': 'maf-country-sequence-coo-imp',
  'length': 3L},
 {'From': 62L,
  'Item Name': 'MAF-COUNTRY-ALPHA-COO-IMP',
  'To': 63L,
  'col_name': 'maf-country-alpha-coo-imp',
  'length': 2L},
 {'From': 65L,
  'Item Name': 'MAF-TRADE-INDICATOR',
  'To': 65L,
  'col_name': 'maf-trade-indicator',
  'length': 1L},
 {'From': 67L,
  'Item Name': 'MAF-CONTAINER',
  'To': 69L,
  'col_name': 'maf-container',
  'length': 3L},
 {'From': 71L,
  'Item Name': 'MAF-MODE-OF-TRANSPORT',
  'To': 73L,
  'col_name': 'maf-mode-of-transport',
  'length': 3L},
 {'From': 75L,
  'Item Name': 'MAF-INLAND-MOT',
  'To': 76L,
  'col_name': 'maf-inland-mot',
  'length': 2L},
 {'From': 78L,
  'Item Name': 'MAF-GOLO-SEQUENCE',
  'To': 80L,
  'col_name': 'maf-golo-sequence',
  'length': 3L},
 {'From': 82L,
  'Item Name': 'MAF-GOLO-ALPHA',
  'To': 84L,
  'col_name': 'maf-golo-alpha',
  'length': 3L},
 {'From': 86L,
  'Item Name': 'MAF-SUITE-INDICATOR',
  'To': 88L,
  'col_name': 'maf-suite-indicator',
  'length': 3L},
 {'From': 90L,
  'Item Name': 'MAF-PROCEDURE-CODE',
  'To': 92L,
  'col_name': 'maf-procedure-code',
  'length': 3L},
 {'From': 94L,
  'Item Name': 'MAF-CB-CODE',
  'To': 96L,
  'col_name': 'maf-cb-code',
  'length': 3L},
 {'From': 98L,
  'Item Name': 'MAF-VALUE',
  'To': 113L,
  'col_name': 'maf-value',
  'length': 16L},
 {'From': 115L,
  'Item Name': 'MAF-QUANTITY-1',
  'To': 128L,
  'col_name': 'maf-quantity-1',
  'length': 14L},
 {'From': 130L,
  'Item Name': 'MAF-QUANTITY-2',
  'To': 143L,
  'col_name': 'maf-quantity-2',
  'length': 14L}]

In [201]:
middle_records = pd.DataFrame(middle_records,columns=["all"])

for col in middle_record_specs_dict:
    middle_records[col["Item Name"]] = middle_records["all"].str.slice(col["From"]-1,col["To"])
middle_records = middle_records.drop(["all", "MAF-ITEM-FIELDS"],axis=1)

In [202]:
list(middle_records.columns)

['MAF-COMCODE',
 'MAF-SITC',
 'MAF-RECORD-TYPE',
 'MAF-COD-SEQUENCE',
 'MAF-COD-ALPHA',
 'MAF-COO-SEQUENCE',
 'MAF-COO-ALPHA',
 'MAF-ACCOUNT-MM',
 'MAF-DATE-DELIMITER',
 'MAF-ACCOUNT-CCYY',
 'MAF-PORT-SEQUENCE',
 'MAF-PORT-ALPHA',
 'MAF-FLAG-SEQUENCE',
 'MAF-FLAG-ALPHA',
 'MAF-COUNTRY-SEQUENCE-COO-IMP',
 'MAF-COUNTRY-ALPHA-COO-IMP',
 'MAF-TRADE-INDICATOR',
 'MAF-CONTAINER',
 'MAF-MODE-OF-TRANSPORT',
 'MAF-INLAND-MOT',
 'MAF-GOLO-SEQUENCE',
 'MAF-GOLO-ALPHA',
 'MAF-SUITE-INDICATOR',
 'MAF-PROCEDURE-CODE',
 'MAF-CB-CODE',
 'MAF-VALUE',
 'MAF-QUANTITY-1',
 'MAF-QUANTITY-2']

In [203]:
#Now write out to database.  Use SQLAlchemy
my_cols = list(middle_records.columns)
my_cols = [c.lower() for c in my_cols]
for c in my_cols:
    print c

maf-comcode
maf-sitc
maf-record-type
maf-cod-sequence
maf-cod-alpha
maf-coo-sequence
maf-coo-alpha
maf-account-mm
maf-date-delimiter
maf-account-ccyy
maf-port-sequence
maf-port-alpha
maf-flag-sequence
maf-flag-alpha
maf-country-sequence-coo-imp
maf-country-alpha-coo-imp
maf-trade-indicator
maf-container
maf-mode-of-transport
maf-inland-mot
maf-golo-sequence
maf-golo-alpha
maf-suite-indicator
maf-procedure-code
maf-cb-code
maf-value
maf-quantity-1
maf-quantity-2

In [136]:
middle_record_specs["col_name"] = middle_record_specs["Item Name"].str.lower()
middle_record_specs["length"] = middle_record_specs["To"] - middle_record_specs["From"] + 1
middle_record_specs[["col_name","length"]].to_clipboard()

In [204]:

with open("SMKA121504") as fh:
    lines = fh.readlines()
    header_record = lines[0]
    middle_records =  lines[1:-1]
    tail_record = lines[-1]

In [148]:
#df = pd.read_clipboard()

In [149]:
#df.to_csv("control_file_trailer_specs.csv")

In [280]:
import codecs
with codecs.open("SMKA121504",encoding="windows-1252") as fh:
    lines = fh.readlines()
    header_record = lines[0]
    middle_records = lines[1:-1]
    tail_record = lines[-1]

In [298]:
header_record_specs = pd.read_csv("pycharm/specs/control_file_header_specs.csv")
header_record_specs = get_fields_df(header_record_specs) 
header_record
header_record_dict = {}
for row in header_record_specs.iterrows():
    r = row[1]
    key = r["Item Name"]
    value = header_record[r["From"]-1:r["To"]].strip()
    header_record_dict[key] = value
hr_df = pd.DataFrame([header_record_dict])

header_record_specs["col_name"] = header_record_specs["Item Name"].str.lower().str.replace("-","_")
header_record_specs["length"] = header_record_specs["To"] - header_record_specs["From"] + 1
header_record_specs[["col_name","length"]].to_clipboard(index=False)
header_record_specs

    From   To    Item Name     col_name  length
0      1    9   MK-COMCODE   mk_comcode       9
2     11   11       FILLER       filler       1
4     13   17       FILLER       filler       5
6     19   23       FILLER       filler       5
8     25   29       FILLER       filler       5
10    31   35       FILLER       filler       5
12    37   37       FILLER       filler       1
14    39   43       FILLER       filler       5
16    45   45       FILLER       filler       1
18    47   49       FILLER       filler       3
20    51   53       FILLER       filler       3
22    55   57       FILLER       filler       3
24    59   60       FILLER       filler       2
26    62   63       FILLER       filler       2
28    65   66       FILLER       filler       2
30    68   69       FILLER       filler       2
32    71   71       FILLER       filler       1
34    73   73       FILLER       filler       1
36    75   75       FILLER       filler       1
38    77   77       FILLER       filler       1
40    79   79       FILLER       filler       1
42    81   81       FILLER       filler       1
44    83   83       FILLER       filler       1
46    85   85       FILLER       filler       1
48    87   89       FILLER       filler       3
50    91   93       FILLER       filler       3
52    95  151       FILLER       filler      57
54   153  174  MK-FILENAME  mk_filename      22
56   176  179      MK-YEAR      mk_year       4
58   181  182     MK-MONTH     mk_month       2

In [293]:
trailer_record_specs = pd.read_csv("pycharm/specs/control_file_trailer_specs.csv")
#trailer_record_specs = get_fields_df(trailer_record_specs) 
print trailer_record_specs
trailer_record_dict = {}
for row in trailer_record_specs.iterrows():
    r = row[1]
    key = r["Item Name"]
    value = tail_record[r["From"]-1:r["To"]].strip()
    trailer_record_dict[key] = value
pd.DataFrame([trailer_record_dict])

   Ref  From   To  Level         Item Name Type  Size  Algn Picture  Occurs  \
0    2     1  151      5            FILLER    D   151   NaN  X(151)     NaN
1    3   152  152      5         DELIMITER    D     1   NaN       X     NaN
2    4   153  159      5  MK-HEADING-COUNT    D     7   NaN    9(7)     NaN

      Value Range
0  151 characters
1               |
2        7 digits

,DELIMITER,FILLER,MK-HEADING-COUNT
0,|,999999999| | | | | | | | |...,0009426

In [284]:
middle_record_specs = pd.read_csv("pycharm/specs/control_file_middle_specs.csv")
middle_record_specs = get_fields_df(middle_record_specs)
middle_record_specs_dict = middle_record_specs.to_dict(orient="records")
middle_record_specs
#pd.read_csv("control_file_middle_specs.csv")

    From    To               Item Name
0      1     9              MK-COMCODE
2     11    11      MK-INTRA-EXTRA-IND
4     13    14          MK-INTRA-MM-ON
6     16    17          MK-INTRA-YY-ON
8     19    20         MK-INTRA-MM-OFF
10    22    23         MK-INTRA-YY-OFF
12    25    26          MK-EXTRA-MM-ON
14    28    29          MK-EXTRA-YY-ON
16    31    32         MK-EXTRA-MM-OFF
18    34    35         MK-EXTRA-YY-OFF
20    37    37         MK-NON-TRADE-ID
22    39    43              MK-SITC-NO
24    45    45             MK-SITC-IND
26    47    49          MK-SITC-CONV-A
28    51    53          MK-SITC-CONV-B
30    55    57                MK-CN-Q2
32    59    60        MK-SUPP-ARRIVALS
34    62    63      MK-SUPP-DESPATCHES
36    65    66         MK-SUPP-IMPORTS
38    68    69         MK-SUPP-EXPORTS
40    71    71        MK-SUB-GROUP-ARR
42    73    73             MK-ITEM-ARR
44    75    75       MK-SUB-GROUP-DESP
46    77    77            MK-ITEM-DESP
48    79    79        MK-SUB-GROUP-IMP
50    81    81             MK-ITEM-IMP
52    83    83        MK-SUB-GROUP-EXP
54    85    85             MK-ITEM-EXP
56    87    89           MK-QTY1-ALPHA
58    91    93           MK-QTY2-ALPHA
60    95   155    MK-COMMODITY-ALPHA-1
62   157   204    MK-COMMODITY-ALPHA-2
63    95  5000  MK-COMMODITY-ALPHA-ALL

In [245]:
middle_records = pd.DataFrame(middle_records,columns=["all"])

for col in middle_record_specs_dict:
    middle_records[col["Item Name"]] = middle_records["all"].str.slice(col["From"]-1,col["To"])
middle_records = middle_records.drop(["all"],axis=1)

In [250]:
my_cols = list(middle_records.columns)
my_cols = [c.lower().replace("-","_") for c in my_cols]
for c in my_cols:
    print c

mk_comcode
mk_intra_extra_ind
mk_intra_mm_on
mk_intra_yy_on
mk_intra_mm_off
mk_intra_yy_off
mk_extra_mm_on
mk_extra_yy_on
mk_extra_mm_off
mk_extra_yy_off
mk_non_trade_id
mk_sitc_no
mk_sitc_ind
mk_sitc_conv_a
mk_sitc_conv_b
mk_cn_q2
mk_supp_arrivals
mk_supp_despatches
mk_supp_imports
mk_supp_exports
mk_sub_group_arr
mk_item_arr
mk_sub_group_desp
mk_item_desp
mk_sub_group_imp
mk_item_imp
mk_sub_group_exp
mk_item_exp
mk_qty1_alpha
mk_qty2_alpha
mk_commodity_alpha_1
mk_commodity_alpha_2
mk_commodity_alpha_all

In [253]:
middle_record_specs["col_name"] = middle_record_specs["Item Name"].str.lower().str.replace("-","_")
middle_record_specs["length"] = middle_record_specs["To"] - middle_record_specs["From"] + 1
middle_record_specs[["col_name","length"]].to_clipboard(index=False)

In [268]:
print "than 1,2\xa0kg each,".decode("utf8")

UnicodeDecodeError: 'utf8' codec can't decode byte 0xa0 in position 8: invalid start byte

In [272]:
import codecs
with codecs.open("SMKA121504",encoding="windows-1252") as fh:
    lines = fh.readlines()
    header_record = lines[0]
    middle_records = lines[1:-1]
    tail_record = lines[-1]

In [273]:
import codecs
with codecs.open("SMKA121504",encoding="windows-1252") as fh:
    lines = fh.readlines()
    header_record = lines[0]
    middle_records = lines[1:-1]
    tail_record = lines[-1]

In [ ]:
import codecs
with codecs.open("SMKA121504",encoding="windows-1252") as fh:
    lines = fh.readlines()
    header_record = lines[0]
    middle_records = lines[1:-1]
    tail_record = lines[-1]