In [14]:
import pandas as pd
import codecs

In [15]:
with codecs.open("pycharm/data/SIAI111504", encoding="windows-1252") as fh:
    lines = fh.readlines()
    header_record = lines[0]
    middle_records =  lines[1:-1]
    tail_record = lines[-1]

In [16]:
def get_fields_df(df, column_name = "Item Name"):
    df = df[~df[column_name].str.contains("DELIMITER")]
    df = df[["From","To",column_name]]
    return df

In [17]:
header_record_specs = pd.read_csv("pycharm/specs/importers_header_record_specs.csv")
header_record_specs = get_fields_df(header_record_specs)

In [18]:
header_record
header_record_dict = {}
for row in header_record_specs.iterrows():
    r = row[1]
    key = r["Item Name"]
    value = header_record[r["From"]-1:r["To"]].strip()
    header_record_dict[key] = value

In [19]:
pd.DataFrame([header_record_dict])

  IA-RECORD-TYPE IA-RUNNO IA-YEAR
0             00    04200    2015

In [22]:
middle_records_df = pd.DataFrame(middle_records,columns=["all"])
middle_record_specs = pd.read_csv("pycharm/specs/importers_middle_record_specs.csv")
middle_record_specs_dict = middle_record_specs.to_dict(orient="records")

for col in middle_record_specs_dict:
    middle_records_df[col["Item Name"]] = middle_records_df["all"].str.slice(col["From"]-1,col["To"])
middle_records_df = middle_records_df.drop(["all"],axis=1)

In [23]:
middle_records_df.columns = [c.lower().replace("-","_") for c in middle_records_df.columns]

In [25]:
middle_records_df.head()

,ia_record_type,ia_name,ia_addr_1,ia_addr_2,ia_addr_3,ia_addr_4,ia_addr_5,ia_pcode,ia_comcode_count,ia_comcode
0,01,UNITED STATES VISITING FORCES ...,USAFE-UK/A4,RAF MILDENHALL,BURY ST EDMUNDS,SUFFOLK,,IP28 8NG,001,|40093200\r\n
1,01,EMBASSY OF THE SULTANATE OF OMAN ...,104 PICCADILLY,,LONDON,,,W1V 9FN,001,|49019900\r\n
2,01,TURKISH EMBASSY ...,43 BELGRAVE SQUARE,,LONDON,,,SW1X 8PA,001,|49019900\r\n
3,01,INTERNATIONAL MARITIME ORGANIZATION ...,4 ALBERT EMBANKMENT,,LONDON,,,SE1 7SR,002,|49019900|84715000\r\n
4,01,NORTH ATLANTIC TREATY ORGANISATION ...,CINCHAN-CINCEASTLANT,,NORTHWOOD,MIDDLESEX,,HA6 3HR,003,|85437090|85441190|85442000\r\n

In [26]:
a = "|39172190|39222000|39229000|39259010|39269097|69101000|73249000|73269098|76109010|76152000|76169910|83024900|85014080|85161011|85163300|94018000"

In [27]:
a.split("|")

['',
 '39172190',
 '39222000',
 '39229000',
 '39259010',
 '39269097',
 '69101000',
 '73249000',
 '73269098',
 '76109010',
 '76152000',
 '76169910',
 '83024900',
 '85014080',
 '85161011',
 '85163300',
 '94018000']