In [1]:
import pandas as pd

In [2]:
df = pd.read_json('{"l1":{"0":"a","1":"a","2":"a","3":"a","4":"b","5":"b","6":"b","7":"b"},"l2":{"0":"a1","1":"a1","2":"a2","3":"a2","4":"b1","5":"b1","6":"b2","7":"b3"},"l3":{"0":"a11","1":"a12","2":"a21","3":"a22","4":"b11","5":"b12","6":"b22","7":"b34"},"val":{"0":1,"1":2,"2":3,"3":4,"4":5,"5":6,"6":7,"7":8}}')
df

  l1  l2   l3  val
0  a  a1  a11    1
1  a  a1  a12    2
2  a  a2  a21    3
3  a  a2  a22    4
4  b  b1  b11    5
5  b  b1  b12    6
6  b  b2  b22    7
7  b  b3  b34    8

In [3]:
d = {"name": "root",
"children": []}

In [107]:
def find_element(children_list,name):
    """
    Find element in children list
    if exists or return none
    """
    for i in children_list:
        if i["name"] == name:
            return i
    #If not found return None
    return None

def add_node(levels,row, value_field, nest):
    """
    The path is a list.  Each element is a name that corresponds 
    to a level in the final nested dictionary.  
    """

    #Get first name from level
    this_level = levels.pop(0)
    this_name = row[this_level["name"]]
    
    level_properties = this_level["properties"]
    
    #Does the element exist already?
    element = find_element(nest["children"], this_name)

    #If the element exists, we can use it, otherwise we need to create a new one
    if element:


        if len(levels)>0:
            add_node(levels, row, value_field, element)
        
    #Else it does not exist so create it and return its children
    else:
        new_child ={"name":this_name}
        for prop, rowkey in level_properties.iteritems():
            new_child[prop] = row[rowkey]
        
        if len(levels) == 0:

            new_child["value"] = row[value_field]
            nest["children"].append(new_child)
        else:
            #Add new element

            new_child["children"] = []
            nest["children"].append(new_child)
            
            #Get added element 
            element = nest["children"][-1]
            
            #Still elements of path left so recurse
            add_node(levels, row, value_field, element)

In [111]:
d_all = {"name": "root",
         "desc": "*",
"children": []}



my_levels = [{"name": "code1",
           "properties" : {"desc":"desc1"}},
         {"name": "code2",
           "properties" : {"desc":"desc2"}},
         {"name": "code4",
           "properties" : {"desc":"desc4"}},
         {"name": "code6",
           "properties" : {"desc":"desc6"}},
         {"name": "code8",
           "properties" : {"desc":"desc8"}}]
           
for row in df_all.iterrows():
    r = row[1]
    value_field = "quantity"
    levels_info = [i for i in my_levels]
    add_node(levels_info, r, value_field,d_all)

In [109]:
import json
print json.dumps(d_all,  sort_keys=False, indent=2)

{
  "children": [
    {
      "children": [
        {
          "children": [
            {
              "children": [
                {
                  "children": [
                    {
                      "name": "01012100",
                      "value": 45592174,
                      "desc": "Pure-bred breeding horses"
                    }
                  ],
                  "name": "010121",
                  "desc": "Pure-bred breeding horses"
                },
                {
                  "children": [
                    {
                      "name": "01012990",
                      "value": 2498001,
                      "desc": "Live horses (excl. for slaughter, pure-bred for breeding)"
                    }
                  ],
                  "name": "010129",
                  "desc": "Live horses (excl. pure-bred for breeding)"
                }
              ],
              "name": "0101",
              "desc": "Live horses, asses, mules and hinnies"
            },
            {
              "children": [
                {
                  "children": [
                    {
                      "name": "01022110",
                      "value": 49329,
                      "desc": "Pure-bred breeding heifers \"female bovines that have never calved\""
                    },
                    {
                      "name": "01022130",
                      "value": 2784,
                      "desc": "Pure-bred breeding cows (excl. heifers)"
                    }
                  ],
                  "name": "010221",
                  "desc": "Pure-bred cattle for breeding"
                }
              ],
              "name": "0102",
              "desc": "Live bovine animals"
            },
            {
              "children": [
                {
                  "children": [
                    {
                      "name": "01031000",
                      "value": 120277,
                      "desc": "Pure-bred breeding swine"
                    }
                  ],
                  "name": "010310",
                  "desc": "Pure-bred breeding swine"
                }
              ],
              "name": "0103",
              "desc": "Live swine"
            }
          ],
          "name": "01",
          "desc": "Live animals"
        }
      ],
      "name": "1",
      "desc": "Live Animals; Animal Products "
    }
  ],
  "name": "root",
  "desc": "*"
}

8181

In [110]:
import json
with open('data2.txt', 'w') as outfile:
    #json.dump(d_all, outfile, sort_keys=False, indent=2)
    json.dump(d_all, outfile)

In [7]:
#Now create this for the real data
import sqlite3
conn = sqlite3.connect(r"C:\Users\robin_000\Desktop\HMRCTradeDataParser\pycharm\trade_data.db")

In [9]:
sql = """
select 
code8,
code6,
code4,
code2,
l1.code as code1,
mk_commodity_alpha_all as desc8,
l6.desc as desc6, 
l4.desc as desc4, 
l2.desc as desc2, 
l1.desc as desc1,
quantity from 

(select product_code as code8, 
substr(product_code,1,6) as code6,
substr(product_code,1,4) as code4,
substr(product_code,1,2) as code2,

sum(quantity) as quantity
from der_imports_country_products_port_month_8
where year = 2014
group by product_code) as s

left join eightdigitcodes as l8
on s.code8 = l8.mk_comcode8

left join lookup_codes_6 as l6
on s.code6 = l6.code

left join lookup_codes_4 as l4
on s.code4 = l4.code

left join lookup_codes_2 as l2
on s.code2 = l2.code

left join lookup_codes_1 as l1
on s.code2 = l1.code_2
"""

df_all = pd.read_sql(sql, conn)
df_all.head()

,code8,code6,code4,code2,code1,desc8,desc6,desc4,desc2,desc1,quantity
0,01012100,010121,0101,01,1,Pure-bred breeding horses,Pure-bred breeding horses,"Live horses, asses, mules and hinnies",Live animals,Live Animals; Animal Products,45592174
1,01012990,010129,0101,01,1,"Live horses (excl. for slaughter, pure-bred fo...",Live horses (excl. pure-bred for breeding),"Live horses, asses, mules and hinnies",Live animals,Live Animals; Animal Products,2498001
2,01022110,010221,0102,01,1,"Pure-bred breeding heifers ""female bovines tha...",Pure-bred cattle for breeding,Live bovine animals,Live animals,Live Animals; Animal Products,49329
3,01022130,010221,0102,01,1,Pure-bred breeding cows (excl. heifers),Pure-bred cattle for breeding,Live bovine animals,Live animals,Live Animals; Animal Products,2784
4,01031000,010310,0103,01,1,Pure-bred breeding swine,Pure-bred breeding swine,Live swine,Live animals,Live Animals; Animal Products,120277

In [10]:
df = df_all.head().copy()

In [112]:
import json
with open('data.txt', 'w') as outfile:
    #json.dump(d_all, outfile, sort_keys=False, indent=2)
    json.dump(d_all, outfile)

In [13]:
md = {"a":1}
for k, v in md.iteritems():
    print k
    print v

a
1

In [63]:
import copy

In [65]:
md.copy()

{'a': 1}

In [66]:
a= [1,2,3]

In [67]:
b = [i for i in a]

In [69]:
b.pop()

3

In [70]:
b

[1, 2]

In [71]:
a

[1, 2, 3]