In [6]:
import pandas as pd

In [10]:
#Now create this for the real data
import sqlite3
conn = sqlite3.connect(r"pycharm\trade_data.db")

In [21]:
sql = """
select 
code8,
code6,
code4,
code2,
l1.code as code1,
l1.code_base as code0,
mk_commodity_alpha_all as desc8,
l6.desc as desc6, 
l4.desc as desc4, 
l2.desc as desc2, 
l1.desc as desc1,
l1.desc_base as desc0,
quantity from 

(select product_code as code8, 
substr(product_code,1,6) as code6,
substr(product_code,1,4) as code4,
substr(product_code,1,2) as code2,

sum(quantity) as quantity
from der_imports_country_products_port_month_8
where year = 2014
group by product_code) as s

left join eightdigitcodes as l8
on s.code8 = l8.mk_comcode8

left join lookup_codes_6 as l6
on s.code6 = l6.code

left join lookup_codes_4 as l4
on s.code4 = l4.code

left join lookup_codes_2 as l2
on s.code2 = l2.code

left join lookup_codes_1 as l1
on s.code2 = l1.code_2
"""

df_all = pd.read_sql(sql, conn)
df_all.head()

,code8,code6,code4,code2,code1,code0,desc8,desc6,desc4,desc2,desc1,desc0,quantity
0,01012100,010121,0101,01,1,F,Pure-bred breeding horses,Pure-bred breeding horses,"Live horses, asses, mules and hinnies",Live animals,Live Animals; Animal Products,Food and feed,45592174
1,01012990,010129,0101,01,1,F,"Live horses (excl. for slaughter, pure-bred fo...",Live horses (excl. pure-bred for breeding),"Live horses, asses, mules and hinnies",Live animals,Live Animals; Animal Products,Food and feed,2498001
2,01022110,010221,0102,01,1,F,"Pure-bred breeding heifers ""female bovines tha...",Pure-bred cattle for breeding,Live bovine animals,Live animals,Live Animals; Animal Products,Food and feed,49329
3,01022130,010221,0102,01,1,F,Pure-bred breeding cows (excl. heifers),Pure-bred cattle for breeding,Live bovine animals,Live animals,Live Animals; Animal Products,Food and feed,2784
4,01031000,010310,0103,01,1,F,Pure-bred breeding swine,Pure-bred breeding swine,Live swine,Live animals,Live Animals; Animal Products,Food and feed,120277

In [22]:
def find_element(children_list,name):
    """
    Find element in children list
    if exists or return none
    """
    for i in children_list:
        if i["name"] == name:
            return i
    #If not found return None
    return None

def add_node(levels,row, value_field, nest):
    """
    The path is a list.  Each element is a name that corresponds 
    to a level in the final nested dictionary.  
    """

    #Get first name from level
    this_level = levels.pop(0)
    this_name = row[this_level["name"]]
    
    level_properties = this_level["properties"]
    
    #Does the element exist already?
    element = find_element(nest["children"], this_name)

    #If the element exists, we can use it, otherwise we need to create a new one
    if element:


        if len(levels)>0:
            add_node(levels, row, value_field, element)
        
    #Else it does not exist so create it and return its children
    else:
        new_child ={"name":this_name}
        for prop, rowkey in level_properties.iteritems():
            new_child[prop] = row[rowkey]
        
        if len(levels) == 0:

            new_child["value"] = row[value_field]
            nest["children"].append(new_child)
        else:
            #Add new element

            new_child["children"] = []
            nest["children"].append(new_child)
            
            #Get added element 
            element = nest["children"][-1]
            
            #Still elements of path left so recurse
            add_node(levels, row, value_field, element)

In [23]:
d_all = {"name": "All",
         "desc": "*",
"children": []}


my_levels = [{"name": "code0",
           "properties" : {"desc":"desc0"}},
         {"name": "code1",
           "properties" : {"desc":"desc1"}},
         {"name": "code2",
           "properties" : {"desc":"desc2"}},
         {"name": "code4",
           "properties" : {"desc":"desc4"}},
         {"name": "code6",
           "properties" : {"desc":"desc6"}},
         {"name": "code8",
           "properties" : {"desc":"desc8"}}]
           
for row in df_all.iterrows():
    r = row[1]
    value_field = "quantity"
    levels_info = [i for i in my_levels]
    add_node(levels_info, r, value_field,d_all)

In [5]:
import json
print json.dumps(d_all,  sort_keys=False, indent=2)

{
  "children": [],
  "name": "root",
  "desc": "*"
}

8181

In [25]:
import json
with open('data2.txt', 'w') as outfile:
    #json.dump(d_all, outfile, sort_keys=False, indent=2)
    json.dump(d_all, outfile)