In [1]:
import pandas as pd

In [2]:
url = "https://www.uktradeinfo.com/CodesAndGuides/Documents/Port_codes.xls"
df_air = pd.read_excel(url, "Airport codes")

In [3]:
df_sea = pd.read_excel(url, "Seaport codes")

In [4]:
df_air.head()

,Name,Alpha Code,Sequence Code,Airports: Type,Comments
0,Aberdeen Airport,ABZ,449,Designated,NaN
1,All Other Airports,AOA,481,Not applicable,NaN
2,Belfast International Airport,BFS,427,Designated,NaN
3,Biggin Hill Airport,BQH,474,Designated,NaN
4,Birmingham Airport,BHX,433,Designated,NaN

In [5]:
df_sea.head()

        Name Alpha Code  Sequence Code Seaports: Location Comments
0   ABERDEEN        ABD            164           Scotland      NaN
1   Althorpe        TRT            203    England & Wales      NaN
2      Amble        BLY            176    England & Wales      NaN
3      Annan        GRK            154           Scotland      NaN
4  Appledore        WAT             76    England & Wales      NaN

In [6]:
df_air = df_air[["Name", "Alpha Code","Sequence Code"]]

In [7]:
df_sea = df_sea[["Name", "Alpha Code","Sequence Code"]]

In [9]:
df = pd.concat([df_air, df_sea])

In [12]:
df["Name"] = df["Name"].str.title()

In [13]:
df

                                     Name Alpha Code  Sequence Code
0                        Aberdeen Airport        ABZ            449
1                      All Other Airports        AOA            481
2           Belfast International Airport        BFS            427
3                     Biggin Hill Airport        BQH            474
4                      Birmingham Airport        BHX            433
5         Blackpool International Airport        BLK            459
6              Bournemouth (Hurn) Airport        BOH            441
7                         Bristol Airport        BRS            438
8                            Brize Norton        BZN            426
9                       Cambridge Airport        CBG            453
10                Cardiff (Wales) Airport        CWL            439
11                       Coventry Airport        CVT            458
12   Durham Tees Valley (Teeside) Airport        MME            447
13                  East Midlands Airport        EMA            437
14                      Edinburgh Airport        EDI            448
15                         Exeter Airport        EXT            440
16                               Fairford        FFD            465
17                    Farnborough Airport        FAB            477
18                               Feltwell        FLT            460
19             Filton Aerodrome (Bristol)        FZO            475
20       George Best Belfast City Airport        BHD            454
21                        Glasgow Airport        GLA            450
22         Gloucester (Staverton) Airport        GLO            467
23       Humberside International Airport        HUY            457
24                         Kemble Airport        KEM            468
25                             Lakenheath        LKH            464
26                         Lasham Airport        LAS            451
27                 Leeds Bradford Airport        LBA            445
28          Liverpool John Lennon Airport        LPL            444
29          London Ashford (Lydd) Airport        LYD            470
..                                    ...        ...            ...
194                         St Peter Port        GSY            327
195                             Stornoway        STO            157
196                             Stranraer        GRK            154
197                             Stromness        KWL            159
198                            Sunderland        SUN            178
199                               Swansea        SWA             82
200                               Tayport        DUN            166
201                              Teesport        MID            180
202                            Teignmouth        TNM             54
203                       Thames Europort        TEP              9
204                            Thamesport        THP              3
205                               Tilbury        LON              1
206                               Topsham        EXE             53
207                               Torquay        TNM             54
208                                 Trent        TRT            203
209                                 Truro        FAL             58
210                                  Tyne        TYN            177
211                              Ullapool        INV            161
212            Unknown Place Of Clearance        XXX            499
213                           Warrenpoint        WPT            304
214                            Warrington        RUN            128
215                               Watchet        WAT             76
216                                 Wells        KLN            228
217                              Weymouth        WEY             52
218                                Whitby        WTB            182
219                            Whitehaven        WHV            135
220                            Whitstable        WTS              5
221                               Wisbech        WIS            227
222                              Wivenhoe        COL              2
223                            Workington        WOR            136

[282 rows x 3 columns]