In [1]:
"2014 01".split(" ")

['2014', '01']

In [3]:
import pandas as pd
url = "https://www.uktradeinfo.com/CodesAndGuides/Documents/Country_alpha.xls"
df = pd.read_excel(url)

df = df.fillna("")
df.to_clipboard()

In [4]:
df = df.drop_duplicates("Alpha Code")

In [5]:
df

,Country Name,Alpha Code,Sequence Code,Comments
0,Afghanistan,AF,660,
1,Albania,AL,70,
2,Algeria,DZ,208,
3,American Samoa,AS,830,
4,Andorra,AD,43,
5,Angola,AO,330,Including Cabinda
6,Anguilla,AI,446,
7,Antarctica,AQ,891,Territory south of 60 south latitude; not incl...
8,Antigua and Barbuda,AG,459,
9,Argentina,AR,528,
10,Armenia,AM,77,
11,Aruba,AW,474,
12,Australia,AU,800,
13,Austria,AT,38,Excluding the territories of Jungholz and Mitt...
14,Azerbaijan,AZ,78,
15,Bahamas,BS,453,
16,Bahrain,BH,640,
17,Bangladesh,BD,666,
18,Barbados,BB,469,
19,Belarus,BY,73,Often referred to as Belorussia
20,Belgium,BE,17,
21,Belize,BZ,421,
22,Benin,BJ,284,
23,Bermuda,BM,413,
24,Bhutan,BT,675,
25,Bolivia,BO,516,"Also referred to as Bolivia, Plurinational Sta..."
26,"Bonaire, Sint Eustatius and Saba",BQ,475,
27,Bosnia-Herzegovina,BA,93,
28,Botswana,BW,391,
29,Bouvet Island,BV,892,
...,...,...,...,...
229,Taiwan,TW,736,"Separate customs territory of Taiwan, Penghu, ..."
230,Tajikistan,TJ,82,
231,Tanzania (United Republic of),TZ,352,"Tanganyika, Zanzibar Island and Pemba"
232,Thailand,TH,680,
233,Timor-Leste,TL,699,
234,Togo,TG,280,
235,Tonga,TO,817,
236,Trinidad and Tobago,TT,472,
237,Tunisia,TN,212,
238,Turkey,TR,52,
239,Turkmenistan,TM,80,
240,Turks and Caicos Islands,TC,454,
241,Tuvalu,TV,807,
242,Uganda,UG,350,
243,Ukraine,UA,72,
244,United Arab Emirates,AE,647,"Abu Dhabi, Dubai, Sharjah, Ajman, Umm al Qaiwa..."
245,United Kingdom,GB,6,"Great Britain, Northern Ireland, British Chann..."
246,United States,US,400,Including Puerto Rico
247,United States Minor outlying islands,UM,832,"Including Baker Island, Howland Island, Jarvis..."
248,United States Virgin Islands,VI,457,"See Virgin Islands, United States"
249,Uruguay,UY,524,
250,Uzbekistan,UZ,81,
251,Vanuatu,VU,816,
253,"Venezuela, Bolivarian Republic of",VE,484,Often referred to as Venezuela
254,Vietnam,VN,690,
257,Wallis and Futuna,WF,811,Including Alofi Island
258,Western Sahara,EH,206,
259,Yemen,YE,653,Formerly North Yemen and South Yemen
260,Zambia,ZM,378,
261,Zimbabwe,ZW,382,